* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
body {
  background-color: white;
  color: #350d7b; 
  font-family: poppins;
  font-size: 20px;

}
.navbar-brand{
  padding: 20px;
  color: white;
  

} 
/* Navbar Custom Styles */

.navbar {
  background-color: #350d7b !important;
}

.navbar a, .navbar .btn {
  color: white !important;
  font-weight: bold;
  text-decoration: none;
}
.navbar a:hover {
  text-decoration: underline;
  text-decoration-color: #bb95f5;  
}
/* Slider Custom Styles */
.carousel {
padding-left: 80px;
padding-right: 80px;
margin-top: 60px;
}

.carousel-item img {
  height: 500px;
  object-fit: cover;
}

.carousel-item img:hover {
  opacity: 0.8;
}


/* Button Styles */
.btn {
  background-color: #9a5cf6;
  color: white;
  margin: 5px;
}

.btn:hover {
  background: linear-gradient(45deg, #7c2bf4, #a674f2, #6d6df2);
  border: 2px solid #f2e2fc;
  border-radius: 20px;

}
.btn-signin, .btn-signup {
  background-color: #9a5cf6;
  color: white;
  border: none;
  padding: 15px 26px;
  margin: 5px;
  cursor: pointer;
  font-size: 26px;
}

.btn-signin:hover, .btn-signup:hover {
  background-color:white;


}
/* Card Styles */
h2{
  text-align: center;
  font-size: 35px;
  padding-bottom: 20px;
  color: #642ec1;
}
.card {
  font-size: 15px;
  height: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  border: 4px solid #6a2bc8;
  box-shadow: 0 0 12px rgba(171, 120, 235, 0.895);
}
.card:hover{
  background: linear-gradient(45deg, #ceb3f6, #b3bbf6);
}
.card img{
  transition: transform 0.3s ease;
  border-radius: 25px;
}
.card img:hover {
  transform: scale(0.9); 
  border-radius: 50%;
}
.card-header {
  font-weight: bold;
  position: relative;
}
.card-header::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 3px;
  background-color: #7f4ed6;
  transition: width 0.3s ease;
}

.card-header:hover::after {
  width: 100%;
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: normal;
}



/* FAQ */
.faq-header {
  color: #642ec1;
  padding: 40px; 
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

.faq-container {
  max-width: 1000px;
  margin: 5px auto;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.faq-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.faq-item {
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}
.faq-question {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq-answer {
  display: none;
  padding-top: 10px;
  font-size: 16px;
  color: #493b83;
}


/* footer */
.footer {
  display: flex;
  justify-content: space-between;
  padding: 50px 50px;
  background-color:#350d7b;
  gap: 20px;
}
.footer-column {
  flex: 1;
  max-width: 300px;
  color:white;
}
.footer-logo img {
  width: 150px;
}
.footer h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: white;
  font-weight: bold;
}
.footer p, .footer a {
  font-size: 14px;
  color: white;
  text-decoration: none;
  display: block;
  margin-bottom: 8px;
}
.footer a:hover {
  text-decoration: underline;
}

.contact-info h3{
  text-align: center;
}
.contact-info p {
  text-align: center;
  display: flex;
  align-items: center;
}
.contact-info img {
  width: 16px;
  margin-right: 10px;
} 