*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
    color: #fff;
    scroll-behavior: smooth;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../assets/login-bg-pic.png"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container{
    background: #300776;
    position: relative;
    width: 850px;
    height: 550px;
    border: 2px solid #a26af8;
    box-shadow: 0 0 45px #aa7bf1;
    overflow: hidden;
}

.container .form-box{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-box.Login{
    left: 0;
    padding: 0 40px;
}

.form-box.Login .animation{
    transform: translateX(0%);
    transition: .7s;
    opacity: 1;
    transition-delay: calc(.1s * var(--S));
}

.container.active .form-box.Login .animation{
    transform: translateX(-120%);
    opacity: 0;
    transition-delay: calc(.1s * var(--D));
}

.form-box.Register{
   right: 0;
   padding: 0 60px;
}

.form-box.Register .animation{
    transform: translateX(120%);
    transition: .7s ease;
    opacity: 0;
    filter: blur(10px);
    transition-delay: calc(.1s * var(--S));
}

.container.active .form-box.Register .animation{
    transform: translateX(0%);
    opacity: 1;
    filter: blur(0);
    transition-delay: calc(.1s * var(--li));
}

.form-box h2{
    font-size: 32px;
    text-align: center;
}

.form-box p{
    font-size: 1.1rem;
    margin-top: 0.5rem;
    text-align: center;
}

.form-box .icons{ 
    text-align: center;
}

.form-box .icons i{
     color: #a87aed;
     padding: 0.8rem 1.5rem;
     border-radius: 10px;
     font-size: 1.5rem;
     cursor: pointer;
     border: 2px solid #c8aaf6;
     margin: 0 15px;
     transition: 1s;
}

.form-box .icons i:hover{
    background: #bb97f2;
    color: #300776;
    border: 2px solid #300776;
    box-shadow: 0 0 12px #c39dfc;
}

.form-box .input-box{
    position: relative;
    width: 100%;
    height: 25px;
    margin-top: 25px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    border-bottom: 2px solid #fff;
    padding-right: 23px;
    transition: .5s;
}

.input-box input:focus,
.input-box input:valid{
    border-bottom: 2px solid #b591eb;
}

.input-box label{
    position: absolute;
    top: 40%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
    transition: .5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label{
    top: -8px;
    color: #b591eb;
}

.input-box i{
    position: absolute;
    top: 30%;
    right: 0;
    font-size: 18px;
    transform: translateY(-50%);
    transition: .5s;
}

.input-box input:focus ~ i,
.input-box input:valid ~ i{
    color: #b591eb;
}

.btn{
    position: relative;
    width: 100%;
    height: 45px;
    background: transparent;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid #945ee4;
    overflow: hidden;
    z-index: 1;
    
}

.btn::before{
    content: "";
    position: absolute;
    height: 300%;
    width: 100%;
    background: linear-gradient(#7f43da, #574edb);
    top: -100%;
    left: 0;
    z-index: -1;
    transition: .5s;
}

.btn:hover:before{
    top: 0;
}

.regi-link{
    font-size: 14px;
    text-align: center;
    margin: 20px 0 10px;
}

.regi-link a{
    text-decoration: none;
    color: #9757f7;
    font-size: 600;
}

.regi-link a:hover{
    text-decoration: underline;
    text-decoration-color: #aa81e8;
}

.info-content{
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.info-content.Login{
    right: 0;
    text-align: right;
    padding: 0 40px 60px 150px;
    
}

.info-content.Login .animation{
   transform: translateX(0); 
   transition: .7s ease;
   transition-delay: calc(.1s * var(--S));
   opacity: 1;
    filter: blur(0px);
}

.container.active .info-content.Login .animation{
    transform: translateX(120%);
    opacity: 0;
    filter: blur(10px);
    transition-delay: calc(.1s * var(--D));
}

.info-content.Register{
    left: 0;
    text-align: left;
    padding: 0 150px 60px 40px;
    pointer-events: none;
}

.info-content.Register .animation{
    transform: translateX(-120%); 
    transition: .7s ease;
    opacity: 0;
    filter: blur(10px);
    transition-delay: calc(.1s * var(--S));
 }
 
 .container.active .info-content.Register .animation{
     transform: translateX(0%);
     opacity: 1;
     filter: blur(0);
     transition-delay: calc(.1s * var(--li));
 }

.info-content h2{
    font-size: 36px;
    line-height: 1.3;
}

.info-content p{
    font-size: 20px;
}

.container .curved-shape{
    position: absolute;
    right: 0;
    top: -5px;
    height: 720px;
    width: 980px;
    background: linear-gradient(45deg, #300776, #9151f1);
    transform: rotate(10deg) skewY(40deg);
    transform-origin: bottom right;
    transition: 1.5s ease;
    transition-delay: 1.6s;
} 

.container.active .curved-shape{
    transform: rotate(0deg) skewY(0deg);
    transition-delay: .5s;
}

.container .curved-shape2{
    position: absolute;
    left: 250px;
    top: 100%;
    height: 820px;
    width: 980px;
    /* background: #191960; */
    background: #310778;
    border-top: #9151f1;
    transform: rotate(0deg) skewY(0deg);
    transform-origin: bottom left;
    transition: 1.5s ease;
    transition-delay: .5s;
} 

.container.active .curved-shape2{
    transform: rotate(-11deg) skewY(-41deg);
    transition-delay: 1.2s;
}